{% extends 'principal/base.html' %}

{% block content %}

	<script>
		function enseñarFiltros(){
			document.getElementById("filtros").style.display = "inline"
			document.getElementById("botonOcultar").style.display = "inline"
			document.getElementById("botonEnseñar").style.display = "none"
		}
		
		function ocultarFiltros(){
			document.getElementById("filtros").style.display = "none"
			document.getElementById("botonOcultar").style.display = "none"
			document.getElementById("botonEnseñar").style.display = "inline"
		}
		
	</script>
	
	<br/>
	<h3>Ejercicios <a class="btn btn-success" href="/{{ eq.id }}/confirmacion">Obtener ejercicios en entrenamientosdefutbol.es</a></h3>
	<br/>
	<a id="botonEnseñar" href="javascript:void(0)" onclick="enseñarFiltros()">Filtrar</a>
	<a id="botonOcultar" href="javascript:void(0)" onclick="ocultarFiltros()" style="display: none;">Ocultar filtros</a>
	{% if request.POST %}
		<a href='/{{ eq.id }}/ejercicios' style="margin-left: 5%;">Borrar filtro</a>
	{% endif %}
	<div id="filtros" style="display: none;">
		<br>
		<br>
		<form id="formulario" method="post" action=''>{% csrf_token %}
			<table>
				<tr>
					<td>
						<select name="objetivos_fisicos" id="objetivos_fisicos">
							<option value=" ">--------Objetivo físico--------</option>
							{% for obj in objetivos_fisicos %}
								<option value="{{obj.nombre}}">{{obj.nombre}}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select name="objetivos_especificos" id="objetivos_especificos">
							<option value=" ">-------Objetivo específico-------</option>
							{% for obj in objetivos_especificos %}
								<option value="{{obj.nombre}}">{{obj.nombre}}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select name="objetivos_psicologicos" id="objetivos_psicologicos">
							<option value=" ">-------Objetivo psícológico-------</option>
							{% for obj in objetivos_psicologicos %}
								<option value="{{obj.nombre}}">{{obj.nombre}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<select name="objetivos_tecnicos" id="objetivos_tecnicos">
							<option value=" ">-------Objetivo técnico-------</option>
							{% for obj in objetivos_tecnicos %}
								<option value="{{obj.nombre}}">{{obj.nombre}}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select name="objetivos_tacticos" id="objetivos_tacticos">
							<option value=" ">---------Objetivo táctico---------</option>
							{% for obj in objetivos_tacticos %}
								<option value="{{obj.nombre}}">{{obj.nombre}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			</table>
			<br/>
			<input type='submit' value='Realizar Busqueda'/>
		</form>
	</div>
    
    <hr>

	<div class="mb-5">
	
	{% if resultado %}
	
		<h4> Total de ejercicios relacionados:  {{ resultado|length }}</h4>
		
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
		            <th scope="col">Nombre</th>
      				<th scope="col">Descripción</th>
      				<th></th>
		        </tr>
			</thead>
			<tbody>
				{% for row in resultado %}
				    <tr>
						<td>{{ row.nombre }}</td>
						<td style="text-align: justify;">{{ row.descripcion }}</td>
						<td>
							<a href='/{{ eq.id }}/ejercicios/ejercicio/{{ row.id }}'>Detalles</a>
						</td>
	    			</tr>
				{% endfor %}
			</tbody>
		</table>
	
	{% else %}
	
		{% if resultado|length == 0 and request.POST %}
	
			<h4> No se han encontrado coincidencias, asi que te mostramos todos los ejercicios </h4>
		
		{% endif %}
	
		<table class="table table-hover" id="carsTable">
  			<thead class="thead-dark">
    			<tr>
      				<th scope="col">Nombre</th>
      				<th scope="col">Descripción</th>
      				<th></th>
    			</tr>
  			</thead>
  			<tbody>
  			
  				{% for ejercicio in ejercicios %}
    			<tr>
					<td>{{ ejercicio.nombre }}</td>
					<td style="text-align: justify;">{{ ejercicio.descripcion }}</td>
					<td>
						<a href='/{{ eq.id }}/ejercicios/ejercicio/{{ ejercicio.id }}'>Detalles</a>
					</td>
    			</tr>
    			{% endfor %}
     
  			</tbody>
  		</table>
  		
  	{% endif %}
  	
	</div>

{% endblock %}