{% extends 'principal/base.html' %}

{% block content %}

	<br/>
	<h3>Información del entrenamiento</h3>
		<br/>
		<table class="table table-striped">
	        <tr>
	            <th>Fecha</th>
	            <td>{{ entrenamiento.fecha }}</td>
	        </tr>
	    </table>
	    
	    <br/>
	    <br/>
	    <h4>Lista de asistencia</h4>
	    <br/>
	    <table class="table table-striped">
	    	{% for jugador in entrenamiento.jugadores.all %}
				<tr>
					<th>Jugador</th>
					<td>{{ jugador.nombre }} {{ jugador.apellidos }} </td>
					<td><a href='/{{ eq.id }}/jugadores/jugador/{{ jugador.id }}'>Detalles</a></td>
				</tr>
	    	{% endfor %}
	    </table>	
	    <br/>
	    <br/>
	    <h4>Ejercicios</h4>
	    <br/>
		<table class="table table-striped">
			<thead>
				<th>Nombre</th>
				<th style="text-align: center;">Descripción</th>
				<th></th>
			</thead>
			<tbody>
				{% for ejercicio in entrenamiento.ejercicios.all %}
					<tr>
						<td>{{ ejercicio.nombre }}</td>
						<td style="text-align: justify;">{{ ejercicio.descripcion }}</td>
						<td><a href='/{{ eq.id }}/ejercicios/ejercicio/{{ ejercicio.id }}'>Detalles</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br/>
		<br/>
		<h4>Faltas de asistencia</h4>
		<br/>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Jugador</th>
					<th>Tipo</th>
				</tr>
			</thead>
			<tbody>
				{% for falta in faltas %}
					<tr>
						<td>{{ falta.jugador }}</td>
						<td>{{ falta.tipo }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	    
{% endblock %}