{% extends 'principal/base.html' %}

{% block content %}

    <br/>
    <h3>Informe del partido {{ partido.local }} - {{ partido.visitante }}</h3>
        <br/>
        <table class="table table-striped">
            <tr>
                <th>Fecha</th>
                <td>{{ partido.fecha }}</td>
            </tr>
            <tr>
                <th>Local</th>
                <td>{{ partido.local }}</td>
            </tr>
            <tr>
                <th>Visitante</th>
                <td>{{ partido.visitante }}</td>
            </tr>
            <tr>
                <th>Resultado</th>
                <td>{{ partido.resultado }}</td>
            </tr>
        </table>

        <br>
        <br>
        <hr>
        <br>
        <h4>Lista de convocados</h4>
        <br>
        <table class="table table-striped">
            <thead class="thead-dark">
                <th>Nombre</th>
                <th>Apellidos</th>
                <th></th>
            </thead>
            <tbody>
                {% for jugador in partido.convocados.all %}
                    <tr>
                        <td>{{ jugador.nombre }}</td>
                        <td>{{ jugador.apellidos }}</td>
                        <td><a href="/{{ eq.id }}/partidos/partido/{{ partido.id }}/{{ jugador.id }}">Informe del partido</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}